@import url('https://fonts.googleapis.com/css?family=Boogaloo|Chicle');

.App {
  text-align: center;
  background: rgba(250,250,250, 1);
  
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.layout_test {
    display: flex; 
    
  width: 300px; 

} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*////////////////////                  MAIN NAV BAR                  //////////////////*/

body {
  background: rgba(250,250,250, 1) !important;
}


.homepage-header-top-navbar {
  background-position: fixed;
  display: flex;
  background: white ;
  height: 100px;
  width: 100%;
  /* flex-flow: column;   */
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0px 8px 25px rgba(0,0,0, .3);
  z-index: 10;
  background: white;
  /* margin-bottom: -10px; */
}



.homepage-main-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  background: white;
  z-index: 10;
}




.homepage-searchbar {
  position: fixed;
  color: #262626;
  background: rgba(250,250,250, 1);
  border: 1px solid #dbdbdb;
  height: 29.28px;
  outline: 0;
  width: 215px;
  margin-top: -30px;
  letter-spacing: 1px;
  font-weight: 100px;
  word-spacing: 1px;
  font-size: 14px;
  
  border-radius: 3px;
  z-index: 30;
  margin-left: -120px;
}

.homepage-searchbar:focus {
  color: black;
  background: none;
  border: 1px solid rgba(0,0,0, .1);
  outline: 0;
  padding-left: 10px;
}



.homepage-searchbar::placeholder {
  font-size: 14px;
  /* opacity: .5; */
  color: #999;
  text-align: center;
}

.homepage-searchbar:focus::placeholder {
  text-align: left;
}


/* .homepage-select-dropdown {
  display: inline-block;
  width: 80px;
  overflow: hidden;
  transition: .3s ease-in-out;
  background: none; 
  border-radius: 0px;
  border: 2px solid rgba(255,255,255, 0);
  border-bottom: 2px solid white;
  border-bottom-right-radius: 0;
  font-size: 15px;
  border-radius: 0px;
  padding: 3px;
  color: white;
  letter-spacing: 2px;
  font-weight: 100px;
  word-spacing: 1px;
  font-size: 15px;
  
}

.homepage-select-dropdown:focus {
  transition: .3s ease-in-out;
  outline: none;
  border: 2px solid white;
  width: auto;
  color: white;
} */


.homepage-select-dropdown {
  display: none;
}



/* .submit-button {
  display: fixed;
  background: url("./pictures/if_Searchicons-search_825447.png") no-repeat 100% transparent;
  opacity: .95;
  background-size: 15px; 
  border: none;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  height: 18px;
  width: 30px;
  margin-bottom: -20px;
} */
/* .left-test{
  position: fixed;
  height: auto;
  z-index: 60;

} */

/* .left-test:hover{
  position: relative;
  height: auto;
  z-index: 60;
} */
.header-test{
  /* position: auto; */
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  /* padding-bottom: 250px; */
  z-index: 60;
  
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: left;
  padding-left: 92px;
  color: #999;
  font-size: 16px;
  /* height: 50px; */
}



.header-logo-w {
  position: relative;
  color: rgb(41, 134, 205);
  font-size: 80px;
  font-family: 'Chicle', cursive;
  margin-bottom: 5px;
}


.logo-splitter{
  /* width: 45px; */
  height: 29.98px;
  border-left: 1.3px solid rgba(0,0,0, .4);
  padding-left: 7px;
  margin-left: 13px;
  padding-top: 3px;
  /* margin-bottom: 5px; */
}

.logo-button{
  position: fixed;
  height: 40px;
  width: 100px;
  /* height: 80px; */
  /* background: red; */
  z-index: 700;
  cursor: pointer;
}


.homepage-login-cart {
  margin-top: -35px;
  z-index: 20;
}

                            /* cartlogin */

.homepage-login-cart{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-right: 50px;
  position: fixed;
  z-index: 2;
  height: 39px;
}



.login-cart-splitter {
  width: 6px;
  height: 29.28px;
  border-right: 1.3px solid rgba(0,0,0, .4);
  /* margin-right: -5px; */
  margin-left: -10px;
  /* margin-top: -5px !important; */
}


.cart-button-yo {
  background: none !important;
  padding-left: 10px;
}

.cart-shopall{
  font-size: 22px !important;
  /* padding-bottom: 3px !important; */
  /* padding-top: 3px !important;  */
  /* margin-left: 10px !important; */
  /* margin-right: 15px !important; */
  
}


/*////////////////////                  MAIN NAV BAR                  //////////////////*/





/*////////////////////                 HOME PAGE LAYOUT                  //////////////////*/





.home-page-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: column; */
  /* margin-top: -77px; */
  height: 100vh;
  width: 100%;

  /* background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); */
  /* background: rgba(245,245,245, 1);
  background-image: url('./pictures/nice-house.jpeg');
  background-image: url('./pictures/nice-house.jpeg'), linear-gradient(to right rgba(245,245,245, 1), rgba(steelblue, .7)) no-repeat 100%;
  background-size: 850px; */
  /* background-image-size: 850px; */
  /* z-index: 400; */
}

.background-image-font{
  background: url('./pictures/nice-house1.jpeg') no-repeat 100%;
  background-size: 75%;
  background-position: bottom right;
  height: 100vh;  
  
}

.home-page-background-grad {
  position: relative;
  height:100vh;
  width: 100%;
  background: none; 
  background: linear-gradient(to left,  rgba(255,255,255,0.2),rgba(255,255,255,.1), rgba(255,255,255,1), rgba(255,255,255,1));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  text-align: left;
  z-index: 30;
}


.home-page-background-grad h1 {
  padding-top: 270px;
  padding-left: 170px;
  font-size: 70px;
  color: rgba(0,0,0, .3);
  
  word-spacing: 10px;
  letter-spacing: 2px;
  float: left;
}


.easy-text {
  font-weight: 900;  
  padding-left: 100px;
  font-size: 55px;
  color: rgba(41, 134, 205, 1);
}



/*////////////////////                  ALEXA HOMEPAGE SECTION                  //////////////////*/

.Alexa-header{
  font-Size: 50px;
  color: rgba(0,0,0, .4);
  padding-right: 1%;
}


.alexa-tab-homepage{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: url('./pictures/logo_amazon.svg') no-repeat;
  background-size: 40%;
  background-position: center left;
  margin-top: 20px;
  box-shadow: 2px 2px 5px solid rgba(0,0,0, 1);
  z-index: 20;
}

.alexa-grad{
  position: relative;
  height:41vh;
  width: 100%;
  background: none; 
  background: linear-gradient(to right,  rgba(0,0,0,0) rgba(15,119,164,.2), rgba(15,119,164,.6));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  text-align: left;
  z-index: 30;
  box-shadow: 2px 2px 5px solid rgba(0,0,0, 1);
}

.google-tab-homepage{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 40vh;
  background: url('./pictures/Google_Assistant_Logo.svg') no-repeat;
  background-size: 40%;
  background-position: center right;
  /* margin-top: 20px; */
  box-shadow: 2px 2px 5px solid rgba(0,0,0, 1);
  z-index: 20;
}




.google-grad{
  position: relative;
  float: right;
  /* height:41vh; */
  width: 100%;
  background: none; 
  background: linear-gradient(to left,  rgba(0,0,0,0) rgba(70,136,241,.2), rgba(70,136,241,.4));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  text-align: left;
  z-index: 30;
  box-shadow: 2px 2px 5px solid rgba(0,0,0, 1);
}

.google-header{
  color: white;
  padding-right: 45px;
}

.grad-container{
  height: 41vh;
  width: 50%;
  /* box-shadow: 2px 5px 5px rgba(0,0,0, .53); */
}

/*////////////////////                  PRODUCTS HOMEPAGE SECTION                  //////////////////*/






.products-section{
  height: 93vh;
  width: 100%;
}


.products-main{
  display: flex;
  
  width: 100%;
  height: auto;

}

.products-container{

  padding-top: 2px;
  text-align: center !important;
  /* margin-top: -6px; */
  height: 55vh;
  width: 100%;
  
  background: rgba(250,250,250, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  margin: 0 15px 0 15px;
  border-radius: 20px;
  margin: 30px 50px;
  /* padding: 0 15px 0 45px; */
  /* box-shadow: 3px 3px 5px rgba(0,0,0, .53); */
}

.left-bar-div{
  position: relative;
  justify-content: center;
  margin-left: -2px;
  /* margin-left: -110px; */
}

.right-bar-div{
  position: relative;
  justify-content: center;
  
  /* margin-right: -110px; */
}

.shop-left-bar{
  width: 160px;
  height: 600px;
  outline: 0;
  border: none;
  margin-top: -1px;
}

.shop-right-bar{
  margin-top: -1px;
  width: 160px;
  height: 600px;
  outline: 0;
  border: none;

}






.products-Container h3{
  color: rgba(0,0,0, .4);
  margin-bottom: 5px;
  transition: .2s ease-in-out;
}


.underline-divider{
  width: 40%;
  padding-bottom: 10px;
  border-top: .5px solid rgba(0,0,0, .4);
  margin-left: 30%;
  margin-right: 30%;
  transition: .2s ease-in-out;
}

.products-header{
  text-align: center;
  color: rgba(0,0,0, .2);
  transition: .2s ease-in-out;
}

.show-products-shop-section{
  margin-top: 150px;
  /* margin-left: 8vw;
  margin-right: 6.7vw; */
}


.shop-by{
  display: flex;
  justify-content: center;
  
  width: 100%;
}


.shop-by div{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 83.5vw;
  
  padding-bottom: 10px;
  /* border-bottom: 1px solid rgba(0,0,0, .4); */
  margin-top: -50px;
  
}

.shop-by h1 {
  color: gray;
  padding-top: 50px;
  font-weight: 100;
  font-size: 25px;
  padding-right: 30px;
}


.product-type-box{
  border-right: 1px solid rgba(0,0,0, .4);
  border-bottom: 1px solid rgba(0,0,0, .4);
  height: 50vh;
  background: white;
  width: 250px;
  height: 250px;
  margin-top: 20px;
  margin-right: 20px;
  transform: scale(1);
  transition: .2 ease-in-out;
  border-radius: 5px;
  
  /* margin-left: 40px; */
}

.product-type-box h3, .product-type-box div{
  opacity: .6;
}

.product-type-box:hover, .product-type-box:hover h3, .product-type-box:hover div{
  /* transition: .2s ease-in-out; */
  cursor: pointer;
  opacity: 1;
  color: rgba(0,0,0, .8);
  
}
.product-type-box:hover{
  transform: scale(1.08);
  transition: .2s ease-in-out;
  box-shadow: 1px 1px 2px rgba(0,0,0, .2)
}

.product-type-box img{ 
  /* transition: .2s ease-in-out; */
  width: auto;
  
  height: 200px;
  border-radius: 25px;
}

.display-google-image{
  margin-left: -75px;
  margin-top: -30px;
}

.display-alexa-image{
  margin-left: -10px
}


.all-box{
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0,0,0, .52);
  padding-bottom: 100px;
}

.all-box h2{
  font-size: 30px;
  border-bottom: 1px solid rgba(0,0,0, .4)
}

/*////////////////////                  ALEXA NAV BAR                  //////////////////*/

.homepage-main-navbar {
  transition: .5s ease-in-out;
  display: none;
}

.homepage-main-navbar div {
  transition: .5s ease-in-out;
  width: 100%;
  height: 50px;
  transition: .25s ease-in-out;
  /* margin-top: 12px; */
  /* margin-right: 15px; */
  padding-top: 6.5px;
  background: white;
  /* display: none; */
}
.homepage-main-navbar div:hover {
  transition: .25s ease-in-out;
  width: 100%;
  height: 50px;
  /* border-radius: 15px; */
}

.google-button div {
  background: white;
}

.alexa-button {
  margin-top: 7px;
  height: 35px;
}

.google-button{
  margin-top: -6px;
  height: 60px;
}

.homekit-button{
  margin-top: 2px;
  height: 45px;
  border: none;
  transition: .2s ease-in-out;
}


/* .divider {
  margin: 20px 2% 0 2%;
  padding: 6px;
  height: 20px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0px 8px 25px rgba(0,0,0, .3);
  z-index: 10;
  background: white;
} */


.google-assistant-divider {
  border-right: 1px solid black;
  margin-bottom: 8px;
  
}

.homekit-divider {
  border-left: 1px solid rgba(0,0,0, .1);
  
  
}

.alexa-divider {
  border-right: .5px solid rgba(0,0,0, .1);
  /* border-radius: 25%; */
}


.homekit-button:hover {
  position: relative;
  transition: .2s ease-in-out;

}
.google-button-div div {
  background: white;
  width: 100%;
}
  



/*////////////////////                  ALEXA NAV BAR                  //////////////////*/









/*/////////////////////////       ITEMS DISPLAYED       ///////////////////////////*/




/* .all-products-div {
  display: flex;
  flex-wrap: wrap;
} */

/* .cart-mapped-info {
  padding: 7px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  
  width: 820px;
  height: 238px;
  background: white;
  border: 1px solid #e6e6e6;
  padding-left: 20px;

  
  
} */

/* .cart-mapped-products{
  display: flex;
  
  
  width: 820px;
  height: 238px;
  background: white;

} */


.mapped-products{
  display: flex;
  justify-content: flex-start;
  width: 820px;
  height: 240px;
  background: white;
}

.mapped-info {
  padding: 7px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  
  width: 820px;
  height: 238px;
  background: white;
  border: 1px solid #e6e6e6;
  padding-left: 20px;

  /* margin-right: 25px; */
  /* margin-left: -30px; */
}



.mapped-title {
  
  font-size: 20px;
  border-bottom: 1px solid rgba(0,0,0, .4);
  padding-bottom: 10px;

}





.mapped-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 218px;
  z-index: 1;

  /* background: rgba(0,0,0, .2) */
}

/* 
.mapped-image {  
  
} */


.display-images {
  height: 200px;
  max-width: 218px;
  overflow: hidden;
  
}

.display-images-big {
  height: 280px;
  /* width: 280px; */
}



.listed-products {
  display: flex;
  flex-direction: row;
  margin-left: 225px;
  margin-right: 80px;
  margin-top: 150px;
  padding: 5px;  
}


.listed-products-div{
  
}



.product-bottom-border{
  /* border-bottom: 1px solid rgba(0,0,0, .2); */
  height: 30px;
  width: 88.1%;
}



/*/////////////////////////       ITEMS DISPLAYED       ///////////////////////////*/









.show-search-results {
  margin-top: 155px;
  /* background: red; */
}




.side-bars {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.side-bar-right {
  style: none;
  /* position: relative; */
  margin-top: 160px;
  padding-right: 20px;
  
  /* background: steelblue; */

}

.right-bar-ad{
width:160px;
height:600px;
border: none; 


}
.side-bar-right-none {
  display: none;
}



/*                LEFT NAV BAR                        */







label {
  cursor: pointer;
}


.side-bar-left {
  position: fixed;
  font-size: 30px;
  color: #797979;
  height: 90vh;
  /* height: auto; */
  width: 195px;
  padding: 5px;
  border-right: 1.1px solid rgba(226,226,227, 1);
  padding-top: 20px;
  /* z-index: 100vh 100%; */
  background: white;
  box-shadow: 8px 8px 20px rgba(0,0,0, .2);
  
  z-index: 60;
  margin-top: 100px;
}

.side-bar-left:hover {
/* width: 200px; */
overflow: auto;
}
.side-bar-left h5 {
  color: black;
  text-align: left;
  font-size: 16px;
  padding-left: 2px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.side-bar-left-brands{
  max-height: 140px;
  overflow: initial;
}
.side-bar-left-brands{
  overflow: auto;
}

.checkbox-label {
  display: flex;
  padding: 1px;
  padding-left: 9px;
}

.checkbox-label label {
  margin-left: 14px;
  font-size: 13px;
  color: rgba(50,50,50, .9);
  font-weight: 50;
  margin-top: -2px;
}






/*                 /////////////////////SINLGE ITEM PAGE //////////////////////////*/


.single-item-page-container{
  margin-top: 150px;
  /* margin-left: 65px; */
  /* margin-right: 65px; */
}
.breaker{
  width: 100%;
  padding-bottom: 90px;
}

.single-item-page{
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid darkgray; */
  /* margin-top: 50px; */
  padding-top: 20px;
}

.single-divider{
  /* margin-top: 50px; */
  /* width: 85vw; */
  height: auto; 
  margin-top: -40px;
  /* background: white; */
  /* margin-right: -15px; */
  /* margin-top: -20px; */
  /* margin-bottom: 45px; */
  
  
  
}

.price-tag{
  font-size: 18px;
  color: rgb(175, 41, 19);
  padding-left: 5px;
}

.single-item-container{
  width: 79vw;
  padding-right: 15px;
  padding-right: 15px;
  text-align: left;
  position: relative;
  z-index: 10;
  border-radius: 3px;
  /* max-height: 500px; */
  /* height: auto; */
  /* background: rgba(0,0,0, .2); */
}


.single-item-content{
  display: flex;
  position: relative;
  z-index: 50;
}

.single-page-customer-reviews{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: -20px; */
  
}

.single-item-page-item{
  /* margin-right: 30px; */
  margin-left: 30px;
  margin-top: 20px;

  background: white;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
}

.ad-top-border{
  /* position: fixed; */

width: 728px;
height: 90px; 
/* margin-top: 90px; */
/* scrolling: no;  */
border: 0; 
/* margin-width: 0;  */
border: none; 
z-index: 850;

}

.single-main-content{
  position: relative;
  z-index: 10;
  background: white;
  
  padding-left: 30px;
}

.single-page-right-navbar{
  
  width: 246px; 
  height: 635px;
}

a h6 {
  font-size: 15px;
  margin: 0px;
  margin-top: 10px;
  font-weight: 200;
}


.item-top-bar{
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;

  /* margin-top: -51px; */
  /* margin-bottom: 50px; */
  /* z-index: 300; */
}



.right-box-ad{
  width:160px;
  height: 600px;
  background: none;
  margin-top: 15px;
  border: none;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
  
}


.single-right-box{
  height: auto;
  width: 206px;
  margin-left: 15px;
  /* background: white; */
}

.cart-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}


.right-add-cart-section{
  margin-top: 19px;
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 3px;
  width: 206px; 
  height: 335px;
  padding: 14px 18px;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
  background: white;
  position: relative;
  z-index: 55;
}

.header-underline{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}




.here-button{
  padding-left: 3px;
}


.single-title{
  margin-top: 15px;
  border-bottom: 1px solid rgba(0,0,0, .42);
  padding-bottom: 5px;
  color: gray;
  
}

.single-title h5{
  font-weight: 100;
  font-size: 12px;
}

.single-brand-name{
  color: black;
  font-size: 16px;
}


.single-title h3{
  /* font-weight: 500; */
  font-size: 19px;
  text-align: center;
color: black;
margin-bottom: -10px;
}


.single-features{
  text-align: center;
  margin-top: 50px;
  
}

.single-features h3{
  border-bottom: 1px solid rgba(0,0,0, .4);
  /* margin-bottom: 20px; */
  padding-bottom: 10px;
}

.feature-list{
  margin-top: -10px;
}

.feature-list li{
  margin-top: 5px;
}


.single-item-picture-slides{
  display: flex;
  position: relative;
  /* width: auto; */
  /* height: auto; */
  height: auto;
  max-height: 500px;
  padding-top: 25px;
  padding-left: 15px;
  /* max-height: 100px !important; */
  /* margin-right: 20px; */
  /* border-radius: 150%; */
  /* box-shadow:  -2px 4px 8px rgba(0,0,0, .13); */
  /* border: 1px solid rgba(0,0,0, .2); */
  z-index: 0;
}

.checkbox-label-checkout{
  position: relative;
  z-index: 20;
  /* margin-top: -20px; */
  width: 100%;
  height: 35px;
}



.pictures{

  margin-left: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid rgba(0,0,0, .2); */
  /* border-top: 1px solid rgba(0,0,0, .2); */
  /* border-left: 1px solid rgba(0,0,0, .2); */
  /* border-bottom: 1px solid rgba(0,0,0, .2); */
  
  z-index: 20;
  border-radius: 2px;
  
}


.search-button{
  position: fixed;
  height: 50px;
  width: 50px;
  background: red;
  margin-left: 500px;
}

.smart-home-link{
  width:20px; 
  height: 20px; 
  border: 0; 
   
  border: none !important; 
  margin:0px !important;
}

.qty{
  margin-top: -30px;
  padding-bottom: 30px;
  /* padding: 15px; */
}

.under-pictures{
  border-left: 1px solid rgba(0,0,0, .4);
  margin-top: -5px;
  height: 500px;
  padding-left: -3px;
  z-index: 30;
  
  
}
.add-echo-dot{
  padding-left: 5px;
}


.buy-from-amazon{
  padding-top: 50px;
  width: 150px;
  background: url('./pictures/buy-from-amazon.jpg') no-repeat 100%;
  background-size: 100%;
  height: 30px;
}



.add-to-cart{
  margin-bottom: -35px;
  border-radius: 5px;
  width: 150px;
}

.add-to-cart-divider{
  
  padding-top: 50px;
  margin-top: 15px;
  width: 125px;
  height: 1px;
  border-top: 1px solid black
}

.or{
  padding-top: 20px;
}


/*                                CART PAGE                                     */




.cart-add-to-cart{
  border-radius: 5px;
  width: 150px;
}










.cart-item-page-container{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  /* margin-left: 65px; */
  /* margin-right: 65px; */
}
.breaker{
  width: 100%;
  padding-bottom: 90px;
}

.cart-item-page{
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid darkgray; */
  /* margin-top: 50px; */
  padding-top: 20px;
}

.cart-divider{
  /* margin-top: 50px; */
  /* width: 85vw; */
  height: auto; 
  margin-top: -40px;
  /* background: white; */
  /* margin-right: -15px; */
  /* margin-top: -20px; */
  /* margin-bottom: 45px; */
  
  
  
}

.price-tag{
  font-size: 18px;
  color: rgb(175, 41, 19);
  padding-left: 5px;
}

.single-item-container{
  width: 79vw;
  padding-right: 15px;
  padding-right: 15px;
  text-align: left;
  position: relative;
  z-index: 10;
  border-radius: 3px;
  /* max-height: 500px; */
  /* height: auto; */
  /* background: rgba(0,0,0, .2); */
}


.cart-item-content{
  display: flex;
  position: relative;
  z-index: 50;
}

.cart-page-customer-reviews{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-bottom: -20px; */
  
}

.cart-item-page-item{
  /* margin-right: 30px; */
  margin-left: 30px;
  margin-top: 20px;

  background: white;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
}

.ad-top-border{
  /* position: fixed; */

width: 728px;
height: 90px; 
/* margin-top: 90px; */
/* scrolling: no;  */
border: 0; 
/* margin-width: 0;  */
border: none; 
z-index: 850;

}

.cart-main-content{
  position: relative;
  z-index: 10;
  background: white;
  
  padding-left: 30px;
}

.cart-page-right-navbar{
  
  width: 246px; 
  height: 635px;
}

a h6 {
  font-size: 15px;
  margin: 0px;
  margin-top: 10px;
  font-weight: 200;
}


.item-top-bar{
  display: flex;
  justify-content: center;
  height: 90px;
  width: 100%;

  /* margin-top: -51px; */
  /* margin-bottom: 50px; */
  /* z-index: 300; */
}



.right-box-ad{
  width:160px;
  height: 600px;
  background: none;
  margin-top: 15px;
  border: none;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
  
}


.cart-right-box{
  height: auto;
  width: 206px;
  margin-left: 15px;
  /* background: white; */
}

.cart-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}


.cart-right-add-cart-section{
  margin-top: 19px;
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 3px;
  width: 206px; 
  height: 235px;
  padding: 14px 18px;
  box-shadow: 1px 1px 9px rgba(0,0,0, .23);
  background: white;
  position: relative;
  z-index: 55;
}

.header-underline{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}




.here-button{
  padding-left: 3px;
}


.cart-title{
  margin-top: 15px;
  border-bottom: 1px solid rgba(0,0,0, .42);
  padding-bottom: 5px;
  color: gray;
  
}

.cart-title h5{
  font-weight: 100;
  font-size: 12px;
}

.cart-brand-name{
  color: black;
  font-size: 16px;
}


.cart-title h3{
  /* font-weight: 500; */
  font-size: 19px;
  text-align: center;
color: black;
margin-bottom: -10px;
}


.cart-features{
  text-align: center;
  margin-top: 50px;
  
}

.cart-features h3{
  border-bottom: 1px solid rgba(0,0,0, .4);
  /* margin-bottom: 20px; */
  padding-bottom: 10px;
}

.feature-list{
  margin-top: -10px;
}

.feature-list li{
  margin-top: 5px;
}


.cart-item-picture-slides{
  display: flex;
  position: relative;
  /* width: auto; */
  /* height: auto; */
  height: auto;
  max-height: 500px;
  padding-top: 25px;
  padding-left: 15px;
  /* max-height: 100px !important; */
  /* margin-right: 20px; */
  /* border-radius: 150%; */
  /* box-shadow:  -2px 4px 8px rgba(0,0,0, .13); */
  /* border: 1px solid rgba(0,0,0, .2); */
  z-index: 0;
}

.checkbox-label-checkout{
  position: relative;
  z-index: 20;
  /* margin-top: -20px; */
  width: 100%;
  height: 35px;
}




.cart-mapped-info {
  padding: 7px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  
  width: 820px;
  height: 238px;
  background: white;
  border: 1px solid #e6e6e6;
  padding-left: 20px;

  /* margin-right: 25px; */
  /* margin-left: -30px; */
}

.cart-mapped-products{
  display: flex;
  /* flex-direction: row-reverse; */
  
  width: 820px;
  height: 238px;
  background: white;

}

.cart-mapped-basic-info{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.cart-price{
  font-size: 17px;
  padding-left: 5px;
}

.cart-mapped-title {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid rgba(0,0,0, .4);
  padding-bottom: 5px;

}

.price-header{
  display: flex;
  flex-direction: row;
}

.cart-mapped-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 218px;
  z-index: 1;

  /* background: rgba(0,0,0, .2) */
}

/* 
.mapped-image {  
  
} */


.cart-display-images {
  height: 200px;
  max-width: 218px;
  overflow: hidden;
  
}

.display-images-big {
  height: 280px;
  /* width: 280px; */
}


.cart-product-bottom-border{
  display: flex;
  justify-content: flex-end;
}

.delete-product-from-cart{
  padding-right: 10px;
  cursor: pointer;
}


.shipping-cart-2{
  margin-left: -10px;
  margin-top: -30px;
  padding-bottom: 35px;
  margin-right: -10px;
}

.shipping-text{
  /* margin-left: -35px; */
  font-size: 12px;
  margin-bottom: 5px;
  /* padding: 25px; */
}

.free-prime{
  padding-left: 5px;
  font-size: 17px;
}


/* @media (max-width: 1140px){
  .side-bar-right {
    display: none;
    style: none;
    
    margin-top: 50px;
    width: 200px;
    height: 65vh;
    background: steelblue;
    opacity: .4;
  }

  .mapped-info {
    padding-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
  
    
    
  }

  .background-image-font{
    
    background-size: cover;
    
    
    
  }
} */






/*                LEFT NAV BAR                        */






/*                  smart speaker hover slide in              */





/* .echo-image:hover {
  background: url('./pictures/echo.png') 95% no-repeat;
  background-size: 25%;
  height: 60px;
} */

/* .google-home-image:hover {
  background: url('./pictures/google_home.png') 90% no-repeat;
  background-size: 40px;
  height: 55px;
} */

/* .homepod-image:hover {
  background: url('./pictures/homepod-standing-black.jpg') 95% no-repeat;
  background-size: 85px;
  height: 60px;
} */

/* .homepage-main-navbar div:nth-child(1) {
  background: white;
} */





/*                  smart speaker hover slide in              */





/* 
.alexa-button {
  background: url('./pictures/logo_amazon.svg') 100% no-repeat transparent;
  background-size:50%;
  height: 65px;
  width: 300px;
  border: none;
  cursor: pointer;
}

.google-button {
  background: url('./pictures/logo_amazon.svg') 100% no-repeat transparent;
  background-size:50%;
  height: 65px;
  width: 300px;
  border: none;
  cursor: pointer;
}
.homekit-button {
  background: url('./pictures/logo_amazon.svg') 100% no-repeat transparent;
  background-size:50%;
  height: 65px;
  width: 300px;
  border: none;
  cursor: pointer;
} */







/*                  smart speaker hover slide in              */