body {
    background: rgba(250,250,250, 1) !important;
  }
  
  
  .homepage-header-top-navbar {
    background-position: relative;
    display: flex;
    background: white ;
    height: 100px;
    width: 100%;
    /* flex-flow: column;   */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border-bottom: 1px solid #e6e6e6;
    z-index: 10;
    background: white;
    /* margin-bottom: -10px; */
  }
  
  
  
  .homepage-main-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background: white;
    z-index: 10;
  }
  
  
  
  
  .homepage-searchbar {
    position: fixed;
    color: #262626;
    background: rgba(250,250,250, 1);
    border: 1px solid #dbdbdb;
    height: 29.28px;
    outline: 0;
    width: 215px;
    margin-top: -30px;
    letter-spacing: 1px;
    font-weight: 100px;
    word-spacing: 1px;
    font-size: 14px;
    
    border-radius: 3px;
    z-index: 30;
    margin-left: -120px;
  }
  
  .homepage-searchbar:focus {
    color: black;
    background: none;
    border: 1px solid rgba(0,0,0, .1);
    outline: 0;
    padding-left: 10px;
  }
  
  
  
  .homepage-searchbar::placeholder {
    font-size: 14px;
    /* opacity: .5; */
    color: #999;
    text-align: center;
  }
  
  .homepage-searchbar:focus::placeholder {
    text-align: left;
  }
  
 
  
  .homepage-select-dropdown {
    display: none;
  }
  

  .header-test{
    /* position: auto; */
    position: relative;
    top: 0;
    width: 100%;
    height: 6rem;
    color: white;
    /* padding-bottom: 250px; */
    z-index: 50;
    
  }
  
  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    padding-left: 92px;
    color: #999;
    font-size: 16px;
  }
  
  .header-logo-w {
    color: rgb(41, 134, 205);
    font-size: 60px;
    font-family: 'Chicle', cursive;
    margin-bottom: 5px;
  }
  
  .logo-splitter{
    /* width: 45px; */
    height: 29.98px;
    border-left: 1.3px solid rgba(0,0,0, .2);
    padding-left: 7px;
    margin-left: 13px;
    padding-top: 3px;
    /* margin-bottom: 5px; */
  }
  
  .homepage-login-cart {
    margin-top: -35px;
    z-index: 20;
  }
  
                              /* cartlogin */
  
  .homepage-login-cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 50px;
    position: fixed;
    z-index: 2;
    height: 39px;
  }
  
  
  
  .login-cart-splitter {
    width: 6px;
    height: 29.28px;
    border-right: 1.3px solid rgba(0,0,0, .1);
    /* margin-right: -5px; */
    margin-left: -10px;
    /* margin-top: -5px !important; */
  }
  
  
  .cart-button-yo {
    background: none !important;
    padding-left: 10px;
  }
  
  .cart-shopall{
    font-size: 22px !important;    
  }